// import css 
@import "variable.scss";
@import "mixin.scss";

/* Fonts  included*/
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  // font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: $font-barlow;
  font-size: 1rem;
}
body a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  outline: none;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }
}
button {
  transition: all 0.5s ease-in-out;
  outline: none !important;
  border: none;
  background: none;
  border-radius: 0;
  cursor: pointer;
  &:hover,
  &:active,
  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }
}
input {
  outline: none !important;
  &:focus,
  &:active {
    box-shadow: none !important;
    outline: none;
  }
}
label {
  margin: 0;
}
* {
  box-sizing: border-box;
  font-family: $font-barlow;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
input,
textarea,
select,
option,
label {
    font-family: $font-barlow;
}
.list-none {
  list-style-type: none;
}
::-webkit-input-placeholder {
  /* Edge */
  color: lighten($text-color, 70%);
  font-weight: normal;
  font-size: 14px;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: lighten($text-color, 70%);
  font-weight: normal;
  font-size: 14px;
}

::placeholder {
  color: lighten($text-color, 70%);
  font-weight: normal;
  font-size: 14px;
}
.no-guttors {
  margin-left: 0;
  margin-right: 0;
}
.row{
    @include dflex;
    margin-left: -15px;
    margin-right: -15px;
}
img {
  max-width: 100%;
  height: auto;
}
.container{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 15px;
}
.section-title{
  text-align: center;
  p{
    font-family: $font-Josefin;
    font-size: 12px;
    letter-spacing: 1.2px;
  }
  h2{
    font-family: $font-Barlow-Condensed;
    font-size: 40px;
  }
}
// header css start 
.header{
  position: sticky;
  top: 0;
  z-index: 999;
    &-top{
        background-color: #8DB9CA;
        text-align: center;
        p{
            margin: 0;
            padding: 14px 0 12px;
            letter-spacing: 1.65px;
            color: $white;
            font-size: 11px;
            font-family: $font-Josefin;
        }
    }
    &-bottom{
      background-color: $white;
      &-wrapper{
        @include dflex;
        @include aic;
        padding: 16px 0;
      }
      .nav{
        flex: 1;
        ul{
          @include dflex;
          li{
            list-style: none;
            margin-right: 50px;
            a{
              font-size: 13px;
              font-family: $font-Josefin;
              text-transform: uppercase;
              transition: all 0.5s ease;
              &:hover{
                color: $bg_color;
              }
            }
          }
        }
      }
    }
    &-logo{
      flex: 2;
      text-align: center;
    }
    &-icons{
      ul{
        @include dflex;
        li{
          list-style: none;
          margin-right: 20px;
          svg{
            width: 20px;
            height: 20px;
            transition: all 0.5s ease;
            &:hover{
              fill: $bg_color;
            }
          }
          &:last-child{
            margin-right: 0;
            padding-right: 30px;
            position: relative;
            &::after{
              content: "0";
              position: absolute;
              right: 0;
              top: 0;
              width: 24px;
              height: 24px;
              border-radius: 24px;
              background-color: #659ab154;
              text-align: center;
              font-size: 13px;
              font-family: $font-Barlow-Condensed;
              line-height: 10px;
              color: $text-color;
              @include dflex;
              @include jcc;
              @include aic;
            }
          }
        }
      }
    }
}
// header css end 
// banner css start
.banner{
  background: #ccc url("../Images/banner.png") no-repeat;
  background-size: cover;
  display: block;
  height: calc(100vh - 110px);
  overflow: hidden;
  position: relative;
  &-box{
    position: relative;
  }
  &-wrapper{
    position: absolute;
    top: 110px;
    left: 0px;
    background: #00416c;
    padding: 27px 38px 38px 75px;
    clip-path:  polygon(0 0, 98% 0%, 100% 5%, 100% 95%, 98% 100%, 0 100%);
    &::after{
      content: "";
      width: 30px;
      height: 30px;
      display: inline-block;
      position: absolute;
      right: 0;
      top: 0;
      background-color: transparent;
    }
    h1{
      color: $white;
      font-size: 78px;
      font-family: $font-Barlow-Condensed;
      letter-spacing: 0;
      font-weight: 700;
      span{
        display: block;
      }
    }
    p{
      margin: 20px 0 34px;
      color: $white;
      font-family: $font-Josefin;
      font-size: 18px;
    }
  }
  &-button{
      a{
        display: inline-block;
        -webkit-clip-path: polygon(85% 0, 100% 50%, 85% 100%, 15% 100%, 0 50%, 15% 0);
        clip-path: polygon(85% 0, 100% 50%, 85% 100%, 15% 100%, 0 50%, 15% 0);
        background: $btn-color;
        padding: 18px 43px;
        font-size: 15px;
        text-transform: uppercase;
        color: $white;
        font-family: $font-Josefin;
        margin-right: 15px;
        transition: all 0.3s ease-in-out;
        position: relative;
        &::before{
          content: "";
          display: inline-block;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 50%;
          right: 50%;
          -webkit-clip-path: polygon(85% 0, 100% 50%, 85% 100%, 15% 100%, 0 50%, 15% 0);
        clip-path: polygon(85% 0, 100% 50%, 85% 100%, 15% 100%, 0 50%, 15% 0);
          background: $yellow;
          transition: all 0.3s ease;
        }
        &:hover{
          color: #00416c;
        }
        &:hover::before{
          left: 0;
          right: 0;
          z-index: -1;
        }
        &:last-child{
            background: transparent;
            position: relative;
            clip-path: polygon(86% 0, 100% 50%, 82% 100%, 16% 100%, 0 50%, 16% 0);
            &::after,&::before{
              content: "";
              position: absolute;
              background-color: transparent;
              left: 12px;
              width: 60px;
              border-radius: 8px;
              height: 60px;
              transform: rotate(-45deg);
              top: -6px;
              border-top: solid 3px #ffffff;
              border-left: solid 3px #ffffff;
              z-index: -2;
            }
            &::before{
              transform: rotate(45deg);
              border-top: solid 3px #ffffff;
              border-right: solid 3px #ffffff;
              border-left: 0;
              right: 12px;
              clip-path: none;
              left: auto;
            }
            .btn-border-top,.btn-border-bottom{
              position: absolute;
              top: 0;
              left: 50%;
              display: block;
              width: calc(100% - 50px);
              height: 2px;
              transform: translateX(-50%);
              background-color: #ffffff;
            }
            .btn-border-bottom{
              bottom: 0;
              top: auto;
            }
            .effect{
                display: inline-block;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 50%;
                right: 50%;
                -webkit-clip-path: polygon(85% 0, 100% 50%, 85% 100%, 15% 100%, 0 50%, 15% 0);
                clip-path: polygon(85% 0, 100% 50%, 85% 100%, 15% 100%, 0 50%, 15% 0);
                background: $white;
                transition: all 0.3s ease;
            }
            &:hover{
              color: $btn-color;
              .effect{
                left: 0;
                right: 0;
                z-index: -1;
              }
            }
          }
      }
  }
  .explore{
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    text-align: center;
    a{
      color: #fff;
      font-size: 14px;
      font-family: $font-Josefin;
      display: inline-block;
      padding-right: 20px;
      position: relative;
      &:before,&::after {
        content: '';
        position: absolute;
        display: block;
        top: -80px;
        left: -38px;
        width: 150px;
        height: 150px;
        box-sizing: border-box;
        border-radius: 50%;
        background-color: #01a4e9;
        animation: pulse-ring 0.9s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
      }
      &::after{
        width: 150px;
        height: 150px;
        background-color: $bg_color;
        animation: pulse-inner 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
      }
      .arrow {
        position: absolute;
        top: 5px;
        right: 0;
        width: 10px;
        height: 1px;
        display: inline-block;
        background-color: #fff;
        box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
        transform: rotate(90deg);
        animation: arrow 0.5s infinite alternate;
        &::after, &::before {
          content: '';
          position: absolute;
          width: 3px;
          height: 1px;
          right: -1px;
          background-color: #fff;
        }
        &::after {
          top: -1px;
          transform: rotate(45deg);
        }
        
        &::before {
          top: 1px;
          box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
          transform: rotate(-45deg);
        }
      }
    } 
  }
} 
@keyframes pulse-ring {
  0% {
    transform: scale(.33);
  }
  80%, 100% {
    opacity: 0;
  }
}
@keyframes pulse-inner {
  0% {
    transform: scale(.33);
  }
  80%, 100% {
    opacity: 0;
  }
}
@keyframes arrow{
  0%{
    top: 0px;
  }
  100%{
    top: 10px;
  }
}
// banner css end 

// Product section 
// product colors 
$colors: (
  white: #fff,
  grey : #ccc,
  green:#285C4D,
  blue: #02205C,
  darkgrey: #676B6D,
  black: #000
);
.product{
  padding: 75px 0px;
  &-main{
    max-width: 1320px;
    overflow: hidden;
    @media (min-width: 1320px) {
      max-width: 100%;
      margin-left: calc(( 100vw - 1320px ) / 2);
    }
  }
  &-wrapper{
    padding: 0 15px;
    display: block;
  }
  &-box{
    margin-top: 50px;
    transition: all 0.5s ease;
    &:hover{
      border-radius: 5px;
      transform: translateY(-5px);
      box-shadow: 0px 1px 1px 0px #ccc;
      h2{
        letter-spacing: 0;
        font-weight: 500;
      }
    }
    &-img{
      padding: 34px 30px;
      background: #F6F6F6;
      min-height: 300px;
      img{
        object-fit: cover;
      }
    }
    &-rating{
      margin-bottom: 15px;
      svg{
        height: 10px;
        width: 10px;
        fill: $yellow;
      }
    }
    &-details{
      padding: 15px 12px 20px;
    }
    &-title{
      h2{
        font-family: $font-Josefin;
        font-size: 14px;
        margin-bottom: 28px;
        letter-spacing: 0.35px;
        transition: all 0.3s ease;
      }
    }
    &-price{
      font-size: 15px;
      font-family: $font-Barlow-Condensed;
      letter-spacing: 0px;
      margin-bottom: 15px;
      .old-price{
        text-decoration: line-through;
        color: #CACCCE;
      }
    }
    &-color{
      input[type="radio"] {
        display: none;
        &:checked + label {
          @each $name, $value in $colors {
            .#{$name} {
              border: 2px solid darken($value, 25%);
            }
          } 
        } 
      }
      label {
        display: inline-block;
        width: 22px;
        height: 22px;
        border-radius: 22px;
        margin-right: 8px;
        cursor: pointer;
        &:hover {
          span { 
            transform: scale(1.25); 
          }
        }
        span {
          display: block;
          width: 100%;
          height: 100%;
          border-radius: 22px;
          border: 1px solid #ccc;
          transition: transform .2s ease-in-out;
          @each $name, $value in $colors {
            &.#{$name} {
              background: $value;
            }
          }
        }
      }
    }
  }
  .slick-next,.slick-prev{
    right: 40px;
    height: 40px;
    width: 40px;
    background-color: $white;
    border-radius: 40px;
    z-index: 11;
    transform: rotate(180deg);
    &::after, &::before {
      content: '';
      position: absolute;
      width: 15px;
      height: 2px;
      background-color: $text-color;
      opacity: 1;
    }
    &::after {
      height: 8px;
      width: 8px;
      background-color: transparent;
      border-left: 3px solid $text-color;
      border-top: 3px solid $text-color;
      position: absolute;
      left: 15px;
      top: 16px;
      transform: rotate(-50deg);
    }
    
    &::before {
      top: 20px;
      left: 15px;
      transform: rotate(0deg);
    }
  }
  .slick-prev{
    right: auto;
    left: 40px;
    transform: rotate(0deg);
  }
}
.reallife{
  background-color: #F3F7F9;
  padding: 78px 0 40px;
  position: relative;
  margin-bottom: 80px;
  &-images{
    position: relative;
    .section-title{
      position: absolute;
      width: 100%;
      text-align: center;
      p{
        font-size: 12px;
        font-family: $font-Josefin;
      }
      h2{
        font-size: 48px;
        margin-bottom: 10px;
        span{
          display: block;
        }
      }
      .desc{
        max-width: 410px;
        margin: 0 auto;
        font-family: $font-Nunito;
      }
    }
  }
  &-wrapper{
    @include dflex;
    align-items: end;
    @include jcsb;
    .left{
      position: relative;
      flex: 1;
      &-image3{
        max-width: 420px;
      }
      img{
        object-fit: cover;
      }
      &-image2{
        max-width: 264px;
        max-height: 264px;
        position: absolute;
        left: 320px;
        bottom: 160px;
        overflow: hidden;
      }
      &-image1{
        max-width: 246px;
        max-height: 326px;
        margin-bottom: 60px;
        overflow: hidden;
      }
    }
    .right{
      position: relative;
      flex: 1;
      &-image3{
        max-width: 520px;
        max-height: 364px;
        margin: 0 auto 50px;
      }
      img{
        object-fit: cover;
      }
      &-image2{
        max-width: 231px;
        max-height: 304px;
        position: absolute;
        right: 150px;
        bottom: 380px;
        overflow: hidden;
      }
      &-image1{
        max-width: 119px;
        max-height: 158px;
        margin-bottom: 60px;
        position: absolute;
        right: 0;
        top: -235px;
        overflow: hidden;
      }
    }
  }
}
// product section end 