@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap');
/*website colors*/
$white: #FFFFFF;
$btn-color: #e63e30;
$text-color : #221f20;
$yellow: #fed103;
$bg_color : #659ab1;
$light-gray: #f3f7f9;

// website font family
$font-barlow: 'Barlow', sans-serif;
$font-Josefin: 'Josefin Sans', sans-serif;
$font-Barlow-Condensed: 'Barlow Condensed' , sans-serif;
$font-Nunito: 'Nunito', sans-serif;